---
layout: workshop      # DON'T CHANGE THIS.
carpentry: "swc"    # what kind of Carpentry (must be either "dc" or "swc")
venue: "One-day workshop on automating tasks using Make"        # brief name of host site without address (e.g., "Euphoric State University")
address: "Room 1259 (Abels utsikt), Niels Henrik Abels hus, Moltke Moes vei 35, 0851 Oslo."     # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: "no"      # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "en"     # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "59.939673, 10.723284"       # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: "Nov 9th, 2016"    # human-readable date (e.g., "Feb 17-18, 2020")
humantime: "9:00 am - 2:00 pm"    # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: 2016-11-09      # use YYYY-MM-DD format like 2015-01-01
enddate: 2016-11-09        # use YYYY-MM-DD format like 2015-01-02
instructor: ["Lex Nederbragt", "Anne Fouilloux"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["TBD"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: "contact-us@swcarpentry.uio.no"      # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad: http://pad.software-carpentry.org/2016-11-09-make        # optional (insert the URL for your Etherpad if you're using one)
---

<!-- See instructions in the comments below for how to edit specific sections of this workshop template. -->

<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}


<h2 id="general">General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>'s mission
  is to help scientists and engineers get more research done in less
  time and with less pain by teaching them basic lab skills for
  scientific computing.  
  
  <p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

This one-day 
  <a href="http://www.uio.no/english/for-employees/support/research/research-data/training/carpentry/">Carpentry@UiO</a> 
  hands-on workshop will cover 
  the Software Carpentry lesson on automating tasks on the Unix shell using <strong>Make</strong>.
Make is a tool which can run commands to read files, process these files in some way, 
and write out the processed files. For example, in software development, 
Make is used to compile source code into executable programs or libraries. 
But, Make can also be used to:

<p></p>

<ul>
<li>run analysis scripts on raw data files to get data files that summarize the raw data;</li>
<li>run visualization scripts on data files to produce plots; and to</li>
<li>parse and combine text files and plots to create papers.</li>
</ul>

Make is called a build tool - it builds data files, plots, papers, programs or libraries. 
It can also update existing files if desired. Make tracks the dependencies 
between the files it creates and the files used to create these. 
If one of the original files (e.g. a data file) is changed, 
then Make knows to recreate, or update, 
the files that depend upon this file (e.g. a plot).
  
</p>


<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  You don't need to have any previous knowledge of the tools that will
    be presented at the workshop. 
    <strong>However, some previous experience with using the shell to list directories, 
    create, copy, remove and list files and directories, and run simple scripts 
    is necessary.</strong>
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p id="requirements">
  <strong>Requirements:</strong> Participants must bring a laptop with a
  Mac, Linux, or Windows operating sytem (not a tablet, Chromebook, etc.) that they have administrative privileges
  on. They should have a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by
  Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
  ACCESSIBILITY

  Modify the block below if there are any barriers to accessibility or
  special instructions.
-->
<p id="accessibility">
  <strong>Accessibility:</strong> We are committed to making this workshop
  accessible to everybody.
  The workshop organisers have checked that:
</p>
<ul>
  <li>The room is wheelchair / scooter accessible.</li>
  <li>Accessible restrooms are available.</li>
</ul>
<p>
  Materials will be provided in advance of the workshop and
  large-print handouts are available if needed by notifying the
  organizers in advance.  If we can help making learning easier for
  you (e.g. sign-language interpreters, lactation facilities) please
  <a href="mailto:{{page.contact}}">get in touch</a> and we will
  attempt to provide them.
</p>

<p id="registeration">
  <strong>Registration:</strong> 
Please register using <a href="https://nettskjema.uio.no/answer/74735.html">this form.</a>
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the configuration file.
-->
<p id="contact">
  <strong>Contact</strong>:
  Please mail
  <a href="mailto:{{page.contact}}">{{page.contact}}</a> for more
  information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 id="schedule">Schedule</h2>

<!-- DO NOT EDIT SURVEY LINKS -->

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automation and Make part I</td> </tr>
      <tr> <td>10:30</td> <td>Coffee/tea break</td> </tr>
      <tr> <td>10:45</td>  <td>Automation and Make part II</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Conclusion and practicing with Make</td> </tr>
      <tr> <td>14:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop,
  e.g., '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p id="etherpad">
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2 id="syllabus">Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Automation and Make</h3>
    <ul>
      <li>Makefiles</li>
      <li>Automatic Variables</li>
      <li>Dependencies on Data and Code</li>
      <li>Pattern Rules</li>
      <li>Variables and functions</li>
      <li>Self-Documenting Makefiles</li>
      <li><a href="http://swcarpentry.github.io/make-novice/reference/">Reference...</a></li>
    </ul>
  </div>
</div>



<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
  To participate in this workshop, you will need
  access to the software described below. In addition, you will
  need an up-to-date web browser.
</p>
<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<h3>Overview</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      Make sure you install, or have available, a text editor that
      you are comfortable with using.
      When you're writing code, it's nice to have a text
      editor that is optimized for writing code, with features
      like automatic color-coding of key words.
    </p>
    <h4>The Bash Shell</h4>
    <p>
      Bash is a commonly-used shell. Using a shell gives you
      more power to do more tasks more quickly with your
      computer.
    </p>
    <h4>Git</h4>
    <p>
      Git is a state-of-the-art version control system. It
      lets you track who made changes to what when and has
      options for easily updating a shared or public version of
      your code on <a href="https://github.com/">github.com</a>.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      Python is becoming very popular in scientific computing,
      and it's a great language for teaching general programming concepts due to its easy-to-read syntax.
      We teach with Python version 2.7,
      since it is still the most widely used.
      Installing all the scientific packages for Python individually can be a bit difficult,
      so we recommend an all-in-one installer.
    </p>
    <h4>Make</h4>
    <p>
      Originally invented to manage compilation of programs written in
      languages like C, Make can be used to automatically update any set
      of files that depend on another set of files. This makes it a good
      solution for many data analysis and data management
      problems. While there are many build tools now in existence
      (e.g. ANT and CMake) they share the same fundamental concepts as
      Make. 
    </p>
  </div>
</div>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      <code>nano</code> is the editor installed by the Software Carpentry Installer,
      it is a basic editor integrated into the lesson material.
    </p>
    <p>
      <a href="http://notepad-plus-plus.org/">Notepad++</a> is a
      popular free code editor for Windows.
      Be aware that you must add its installation directory to your system path
      in order to launch it from the command line
      (or have other tools like Git launch it for you).
      Please ask your instructor to help you do this.
    </p>
    <h4>Git Bash</h4>
    <p>
      Install Git for Windows by download and running
      <a href="http://msysgit.github.io/">the installer</a>.
      This will provide you with both Git and Bash in the Git Bash program.
    </p>
    <h4>Software Carpentry Installer</h4>
    <p>This installer requires an active internet connection</p>
    <p>After installing Python and Git Bash:</p>
    <ul>
      <li>
        Download the <a href="{{site.windows_installer_path}}">installer</a>.
      </li>
      <li>
        If the file opens directly in the browser select <strong>File&rarr;Save Page As</strong>
        to download it to your computer.
      </li>
      <li>
        Double click on the file to run it.
      </li>
    </ul>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Download and install  <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
      </li>
      <li>
        Use all of the defaults for installation
        <em>except</em>
        make sure to check <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
    <h4>Make</h4>
    <p>
    NOTE: The Software Carpentry Windows installer installs Make.
    When using the installer, start at the 'To test:' part below.
    <p>
    Once you have installed Git Bash you can install Make by:
    <ul>
    <li>
    Download <code>make.exe</code> from <a
href="https://github.com/msysgit/msysgit/blob/master/bin/make.exe?raw=true">here</a>
    </li>
    <li>
    Place it in the <code>bin</code> directory where you installed Git
    Bash e.g. <code>C:\Program Files (x86)\Git\bin</code>.
    </li>
    <li> 
    To test: open a Git Bash window, type <code>make</code>, and press
    Enter.
    </li>
    <li> 
    You should see the following message
    <pre>make: *** No targets specified and no makefile found. Stop.</pre>
    This means that Make was successfully installed.
    Otherwise, you'll see this error message:
    <pre>bash: make: command not found</pre>
    </li>
    </ul>
    </p>
  </div>
</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      We recommend
      <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
    <h4>Bash</h4>
    <p>
      The default shell in all versions of Mac OS X is bash,
      so no need to install anything.  You access bash from
      the Terminal (found
      in <code>/Applications/Utilities</code>).  You may want
      to keep Terminal in your dock for this workshop.
    </p>
    <h4>Git</h4>
    <p>
      Install Git for Mac by downloading and running
      <a href="http://git-scm.com/downloads">the installer</a>.  For older
      versions of OS X (10.5-10.7) use the most recent available
      installer <a href="https://code.google.com/p/git-osx-installer/downloads/list">available
      here</a>. Use the Leopard installer for 10.5 and the Snow Leopard
      installer for 10.6-10.7.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Download and install <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
      </li>
      <li>
        Use all of the defaults for installation
        <em>except</em>
        make sure to check <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
    <h4>Make</h4>
    <p>
    For OS X, version 10.9 (Mavericks) or above, download the Command Line
    Tools by doing:    
    </p>
    <pre>xcode-select  --install</pre>
    <p>
    For more information, see the <a href="http://osxdaily.com/2014/02/12/install-command-line-tools-mac-os-x/">OSX Daily blog</a>.
    </p>
    If you have an older OS X version and you do not already have 
    access to <code>make</code> from within
    your shell, you will need to install XCode (which is free, but
    over a gigabyte to download). 
    </p>
    <ul>
      <li>Go to the Apple app store</li>
      <li>Search for XCode</li>
      <li>Click <strong>Free</strong></li>
      <li>Click <strong>Install App</strong></li>
    </ul>
    <p>
    Once XCode has installed:
    </p>
    <ul>
      <li>Click <strong>Applications</strong></li>
      <li>Click <strong>XCode</strong></li>
      <li>Select <strong>XCode&rarr;Preferences...</strong></li>
      <li>Click <strong>Downloads</strong></li>
      <li>Select <strong>Command Line Tools</strong></li>
      <li>Click <strong>Install</strong></li>
    </ul>
    <p>
    You will now be able to run <code>make</code> within your shell.
    </p>
  </div>
</div>

<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      <a href="http://kate-editor.org/">Kate</a> is one option for Linux users.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
    <h4>Bash</h4>
    <p>
      The default shell is usually <code>bash</code>,
      but if your machine is set up differently
      you can run it by opening a terminal and typing <code>bash</code>.
      There is no need to install anything.
    </p>
    <h4>Git</h4>
    <p>
      If Git is not already available on your machine you can try
      to install it via your distro's package manager
      (e.g. <code>apt-get</code> or <code>yum</code>).
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      We recommend the all-in-one scientific Python installer
      <a href="http://continuum.io/downloads.html">Anaconda</a>.
      (Installation requires using the shell and if you aren't
      comfortable doing the installation yourself just
      download the installer and we'll help you at the workshop.)
    </p>
    <ol>
      <li>
        Download the installer that matches your operating
        system and save it in your home folder.
      </li>
      <li>
        Open a terminal window.
      </li>
      <li>
        Type <pre>bash Anaconda-</pre> and then press
        tab. The name of the file you just downloaded should
        appear.
      </li>
      <li>
        Press enter. You will follow the text-only
        prompts. When there is a colon at the bottom of the
        screen press the down arrow to move down through the
        text. Type <code>yes</code> and press enter to approve
        the license. Press enter to approve the default
        location for the files. Type <code>yes</code> and
        press enter to prepend Anaconda to
        your <code>PATH</code> (this makes the Anaconda
        distribution the default Python).
      </li>
    </ol>
    <h4>Make</h4>
    <p>
    Make is a standard tool on Linux systems and should already be
    available.
    </p>
  </div>
</div>

